@model Depots.WebUI.Models.DrugUnitsListViewModel

@{
    ViewBag.Title = "List";
}

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Type</th>
            <th>Pick Order</th>
            <th>Depot</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var drugUnit in Model.DrugUnits)
        {
            <tr>
                <td>@drugUnit.DrugTypeId</td>
                <td>@drugUnit.PickNumber</td>
                <td>
                    @Html.DropDownList("DepotId", new SelectList(Model.ExistingDepots, "DepotId", "DepotName", drugUnit.DepotId), "No associated depots")   
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>

