@model IEnumerable<Depots.WebUI.Models.DepotViewModel>

@{
    ViewBag.Title = "Ordering drugs";

}

<h2 class="page-header">Order drugs <small>Fast Shipping</small>
</h2>

<div class="well">
    @using (Html.BeginRouteForm("OrderSummaryDefault", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <fieldset>
            <legend>Details</legend>
            @Html.ValidationSummary()
            <div class="form-group">
                @Html.Label("DepotId", "Depot", new {@class = "col-xs-3 control-label"})
                <div class="col-xs-9 col-sm-8 col-lg-offset-1">
                    @Html.DropDownList("DepotId",
                        new SelectList(Model.OrderBy(m => m.Depot.Country.CountryName), "Depot.DepotId", "Summary"),
                        "Please, choose a depot",
                        new {@class = "form-control"})
                </div>
            </div>
            <div class="order-depot-units form-group col-xs-12" style="display: none;" >
                <div class="col-xs-12 col-md-8 col-md-offset-3">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Type of drug</th>
                                <th>Amount to purchase</th>
                                <th>Max</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <p class="no-units-message" style="display: none;">There is no units in this depot at the moment</p>
            <div class="form-group">
                <div class="col-md-3 col-md-offset-9">
                    <button class="btn submit-order" type="submit">Submit your order</button>
                </div>
            </div>      
        </fieldset>
    }
    
</div>
@Html.Hidden("DepotDrugTypesUrl", Url.Action("GetDepotDrugTypes"))


@section scripts
{
    <script type="text/javascript" src="~/Scripts/ProperScripts/make-order.js"></script>
}
